html{
    margin:0;
    background:#23252C;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
}

.card{
    width:70%;
    max-width: 400px;
    background:#1A1B21;
    margin: 100px auto;
    border-radius: 0px 0px 10px 10px;
}

header > img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

header {
    text-align: center;
}

header h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    margin-bottom:0;
}

header h2{
    color: #F3BF99;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
}

header h3{
    color: #F5F5F5;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
}

.linkedin-button{
    width:250px;
    margin: 0 auto;
    background:#5093E2;
    padding: 7px 11px 7px 9px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.link{
    text-decoration: none;
    color:#FFFFFF;
    margin-left:5px;
}

main {
    width:75%;
    margin: 0 auto;
}

main h2 {
    color: #F5F5F5;
    margin-bottom: 0px;
    margin-top:30px;
    font-weight: 700;
    font-size: 22px;
}

main p{
    color: #DCDCDC;
    margin-top:5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    
}

.social-media-icons {
    display:flex;
    height:60px;
    margin-top:40px;
    justify-content: space-evenly;
    align-items: center;
    background: #161619;
    border-radius: 0px 0px 10px 10px;
}

footer a{
    color:#918E9B;
}
