html{
    margin:0;
    background:#23252C;
    color: #FFFFFF;
    font-family: Inter, sans-serif;
}

.container{
    width:70%;
    max-width:400px;
    background:#1A1B21;
    margin: 100px auto;
    border: black 1px solid;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}

header > img {
    width: 100%;
}

header {
    text-align: center;
}

header h1{
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    margin-bottom:0;
}

header h2{
    color: #F3BF99;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
}

header h3{
    color: #F5F5F5;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
}

main {
    width:75%;
    margin: 0 auto;
}

main h2 {
    color: #F5F5F5;
    margin-bottom: 0px;
    font-weight: 700;
    font-size: 22px;
}

main p{
    color: #DCDCDC;
    margin-top:5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
}

footer {
    background: #161619;
}